.Input input, textarea, select{
    display: block;
    width: 80%;
    margin: 5px auto;
    padding: 5px;
    box-sizing: border-box;
}

.Input label{
    display: block;
    margin-bottom: 5px;
}

.Input input[type=text], .Input input[type=email], .Input input[type=password], .Input textarea, .Input select{
    box-shadow: 1px 1px 4px 1px #efefef;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: black;
    margin-bottom: 5px;
    outline: 0px;
}

.Input select{
    border: 1px solid black;
}

.Input input[type=text].IsInvalid, .Input input[type=email].IsInvalid, input[type=password].IsInvalid, .Input textarea.IsInvalid{
    border-bottom-width: 2px;
    border-bottom-color: red;
}